
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Order List
      <button class="btn btn-lg btn-outline-primary float-right" (click)="open(content)">Add Order</button>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">OrderDueDate</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Phone no.</th>
            <th scope="col">Order Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderList">
            <th scope="row">{{order.orderNumber}}</th>
            <td>{{order.orderDueDate  | date: 'MM/dd/yyyy'}}</td>
            <td>{{order.firstName+ order.lastName}}</td>
            <td>{{order.mobileNum}}</td>
            <td>{{order.orderTotal}}</td>
            <td>
              <button type="button" class="btn btn-info">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" >
         
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>



